:root {
  --amarillo: rgb(255, 194, 28);
  --gris: rgb(56, 56, 56);
  --mobile-hero-app-row: 9fr;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth; /*Scroll suave*/
}

body {
  color: black;
  background-color: white;
  overflow-x: hidden;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
NAV BURGER
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.menu-btn {
  position: fixed;
  z-index: 3;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: var(--amarillo);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  animation: entrada-right 0.3s ease forwards;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-animation: entrada-right 0.3s ease forwards;
}
.menu-btn-burger {
  width: 50px;
  height: 5px;
  background: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(-14px);
}
.menu-btn-burger::after {
  transform: translateY(14px);
}
/*Animacion*/
.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  width: 50px;
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  width: 50px;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
NavBar
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.header-container {
  background-color: var(--amarillo);
  color: black;
  text-align: center;
  width: 100%;
  padding: 15px;
  position: fixed;
  z-index: 1;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  transform: translateX(-2000px);
  -webkit-transform: translateX(-2000px);
  -moz-transform: translateX(-2000px);
  -ms-transform: translateX(-2000px);
  -o-transform: translateX(-2000px);
}

.show {
  visibility: visible;
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.navbar ul {
  text-align: center;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.navbar ul li {
  display: block;
  width: 100%;
  height: 12%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

a:hover {
  background-color: var(--amarillo);
  color: black;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: var(--amarillo);
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

h2:nth-child(1) {
  padding-top: 80px;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 1
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#btn-container button {
  padding: 0 7px;
  cursor: pointer;
  margin: 20px auto;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 2
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.container-keyup {
  position: relative;
  background-color: var(--gris);
  width: 90%;
  height: 50vh;
}

.circulo {
  position: absolute;
  background-color: var(--amarillo) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
INICIO
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.inicio {
  z-index: 1;
  position: fixed;
  width: 80px;
  height: 80px;
  border: none;
  background-color: var(--amarillo);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 10px;
  right: 100px;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.inicio.mostrar {
  transition: all 0.5s;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.inicio::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 10px;
  border-top: solid 7px black;
  border-right: solid 7px black;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
THEME
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#theme {
  z-index: 1;
  border: none;
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: var(--amarillo);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

#theme span {
  color: var(--gris);
  font-size: 50px;
}

#theme:hover {
  background-color: var(--gris);
}

#theme:hover span {
  color: var(--amarillo);
}

.dark-mode {
  background-color: var(--gris);
  color: var(--amarillo);
}

/*
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 4
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#video,
#mapa {
  margin: 10px 0;
}

/*
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 5
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.container-btn input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  width: 48.7%;
  background-color: var(--amarillo);
  padding: 15px 7px;
  margin: 15px auto;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-control {
  position: relative;
  margin: 20px 0;
  width: 300px;
}
.form-control input {
  caret-color: var(--amarillo);
  background-color: inherit;
  border: 0 !important;
  border-bottom: 2px var(--amarillo) solid !important;
  display: block;
  width: 100%;
  padding: 15px 7px;
  font-size: 18px;
  margin: auto;
  color: inherit;
}
.form-control input:focus,
.form-control input:valid {
  outline: 0;
}
.form-control label {
  position: absolute;
  top: calc(50% - (18px / 2));
  left: 10px;
  pointer-events: none;
}
.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:not(:placeholder-shown) + label span {
  transform: translateY(-28px);
  -webkit-transform: translateY(-28px);
  -moz-transform: translateY(-28px);
  -ms-transform: translateY(-28px);
  -o-transform: translateY(-28px);
}
/*
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 6
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#lista-dispositivos {
  display: inline-flex;
  flex-direction: column;
}

.aviso {
  background-color: var(--amarillo);
  color: var(--gris);
  margin: 20px auto 0;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 10
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.card-filter {
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  padding-left: 36px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  background: url(./assets/lupa.png) no-repeat 10px/16px, white;
  cursor: pointer;
  transition-property: width, border-radius, box-shadow;
  transition-duration: 300ms;
  box-shadow: 0 0 0 2px var(--amarillo);
}

.card-filter:focus,
.card-filter:not(:placeholder-shown) {
  width: 200px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  cursor: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 10px 0;
}

.card {
  background-color: var(--amarillo);
  color: var(--gris);
  margin: 20px 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
  text-align: center;
  font-weight: bolder;
}

.filter {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 11
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#btn-lottery {
  padding: 0 7px;
  cursor: pointer;
  margin: 20px auto;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 12
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: calc(50% - 2rem);
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
  font-weight: normal;
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 13
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.slider-container {
  position: relative;
  width: 80%;
  height: 26.625rem;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 26.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 50% 0%; */
}
.slide > p {
  width: 100%;
  padding: 10px;
}
.carrusel {
  position: relative;
  width: 90%;
}
.btns-sliders {
  position: absolute;
  top: calc((26.625rem / 2) - 1.5rem);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-slide {
  width: 3rem;
  height: 3rem;
  border: thin solid #000;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dots {
  width: 25px;
  height: 5px;
  margin: 15px 5px;
  border-radius: 0.5rem;
  background: rgba(39, 39, 39, 0.5);
  cursor: pointer;
}
.dots.focus {
  background: #272727;
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 14
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

video {
  width: 90%;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 15
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
}

form [required]:valid {
  border: 2px solid var(--form-ok-color);
}

form [required]:invalid {
  border: 2px solid var(--form-error-color);
}

.label {
  position: relative;
  display: block;
  margin: 20px 0 0;
}

.label input,
.label textarea {
  resize: none;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem 1.15rem;
  width: 25rem;
  border-radius: 3px;
  border: 2px solid rgba(5, 42, 78, 0.2);
  transition: border-color 0.4s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: border-color 0.4s ease;
  -moz-transition: border-color 0.4s ease;
  -ms-transition: border-color 0.4s ease;
  -o-transition: border-color 0.4s ease;
}

.label input:focus,
.label textarea:focus {
  border-color: #0f81f0;
}

.label p {
  color: rgba(5, 42, 78, 0.5);
  font-size: 1.2rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  margin-left: 0.8rem;
  padding: 0 0.5rem;
  background: #f1f7fe;
  transition-property: top, font-size, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.label input:focus ~ p,
.label textarea:focus ~ p,
.label input:not(:placeholder-shown) ~ p,
.label textarea:not(:placeholder-shown) ~ p {
  top: 0;
  font-size: 0.95rem;
  color: #0f81f0;
}

.label input:not(:focus) ~ p,
.label textarea:not(:focus) ~ p {
  color: rgba(5, 42, 78, 0.5);
}

.btn-form {
  display: flex;
}

.btn-form input[type="submit"] {
  padding: 20px 150px;
  cursor: pointer;
  margin: 20px auto;
}

.contact-form-loader {
  display: flex;
  justify-content: center;
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s normal 0s ease-out both;
  -webkit-animation: show-message 1s normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 16
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
#speech-btn {
  font-weight: bolder;
  width: 150px;
  height: 50px;
  border: 2px solid #000;
  background: #fff;
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
#speech-btn::before,
#speech-btn::after {
  content: "";
  position: absolute;
  background: #fff;
  z-index: -1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
#speech-btn::before {
  height: 50px;
  width: 130px;
}
#speech-btn::after {
  width: 150px;
  height: 30px;
}
#speech-btn:hover::before {
  width: 0px;
}
#speech-btn:hover::after {
  height: 0px;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 17
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#display {
  background-color: rgb(138, 138, 138);
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.display-1 {
  opacity: 0.4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}
#all_button {
  color: inherit;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
  border: 0.5px solid var(--amarillo);
  display: inline-block;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(30, 43, 46);
}
.button:nth-child(17) {
  grid-column: 1 / span 2;
  border-bottom-left-radius: 7px;
  width: 100%;
}
.button:nth-child(19) {
  border-bottom-right-radius: 7px;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 18
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
h3 {
  font-style: 80px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Nerko One", cursive;
}
#board {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  font-size: 100px;
  margin-top: 40px;
}
.box {
  height: 20vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#restart {
  font-family: "Nerko One", cursive;
  padding: 10px 20px;
  background-color: var(--amarillo);
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #111;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  text-transform: uppercase;
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 19
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.wrapper button {
  background: none;
  border: 3px solid #fff;
  padding: 10px 20px;
  color: #fff;
  font-size: 2.25rem;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.wrapper {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper span {
  color: #fff;
  font-size: 3.75rem;
  text-transform: uppercase;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 20
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.pw-container {
  width: 400px;
  background-color: rgb(39, 39, 39);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
.pw-header {
  padding: 1rem;
}
.pw {
  width: 100%;
  height: 70px;
  background-color: var(--gris);
  color: wheat;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}
.pw-body {
  padding: 0px 1rem 1rem;
}
.pw-control {
  color: #eee;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}
.generate {
  display: block;
  background-color: #ecb602;
  color: wheat;
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  border: none;
  width: 100%;
  cursor: pointer;
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 21
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.hero {
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(430px, 800px);
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
}
.todo-app {
  display: grid;
  grid-template-rows: 60px 1fr 45px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}
.todo-menu-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  -ms-grid-rows: 60px;
  grid-template-rows: 60px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.19);
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid #e6e6e6;
}
.add-todo-text-input {
  outline: none;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
::-webkit-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
}
::-ms-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
}
::placeholder {
  color: #e6e6e6;
  font-style: italic;
}
:-moz-placeholder,
::-moz-placeholder {
  opacity: 1;
}
.toggle-all,
.delete-button,
.delete-completed-button,
.menu-2-button {
  background: none;
  border: none;
  outline: none;
}
.toggle-all {
  color: #e6e6e6;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  text-align: center;
}
.toggle-all-checked {
  color: #4d4d4d;
}
.rotate {
  display: inline-block;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  /* Prevent rotate class from being clicked so that toggle-all button can be clicked instead. */
  pointer-events: none;
}
.todo-menu-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 2fr;
  grid-template-columns: 2fr 3fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #777;
  background: #f4f5f6;
  font-size: 14px;
  font-weight: 300;
}
.todo-menu-2 .todos-left {
  -ms-grid-column-align: start;
  justify-self: start;
  padding-left: 20px;
}
.todo-menu-2 .todo-menu-2-buttons {
  -ms-grid-column-align: center;
  justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-gap: 3px;
}
.todo-menu-2 .delete-completed-button,
.todo-menu-2 .menu-2-button,
.todo-menu-2 .todos-left {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.todo-menu-2 .menu-2-button {
  padding: 2px 8px;
  border: 1px solid rgba(137, 103, 208, 0);
  border-radius: 3px;
}
.todo-menu-2 .menu-2-button:hover {
  border: 1px solid rgba(137, 103, 208, 0.5);
}
.active {
  border: 1px solid rgba(137, 103, 208, 1) !important;
}
.todo-menu-2 .delete-completed-button {
  -ms-grid-column-align: end;
  justify-self: end;
  padding-right: 20px;
}
.todo-menu-2 .delete-completed-button:hover {
  text-decoration: underline;
}
.todos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: max-content;
  list-style-type: none;
  overflow: auto;
}
.todos .todo {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  border-bottom: 1px solid #ededed;
  align-items: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
/* checkbox centering */
.todos .todo .pretty {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  margin: 0;
}
.pretty .state label {
  text-indent: 0;
}
.pretty .state i {
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  color: #5dc2af;
}
.add-todo-text-input,
.todo-text {
  font-size: 24px;
  color: #4d4d4d;
}
.todo-text {
  padding-top: 13px;
  padding-bottom: 13px;
}
.todo-text:focus {
  outline: none;
}
.todo-checked-text {
  color: #d9d9dd;
  text-decoration: line-through;
}
.todo-checked-text:focus {
  color: #4d4d4d;
  text-decoration: none;
}
.delete-button {
  font-size: 28px;
  color: #df8383;
  justify-self: center;
  visibility: hidden;
}
.todos .todo:hover .delete-button {
  visibility: visible;
}
.delete-button:hover {
  color: #f14a5d;
  cursor: pointer;
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 22
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
@keyframes fill {
  0% {
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
  }
  50% {
    border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -ms-border-radius: 0 15px 15px 0;
    -o-border-radius: 0 15px 15px 0;
  }
  100% {
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
  }
}
#container-bar {
  margin: 40px 0;
  padding: 20px;
  width: 100%;
  height: auto;
  background: white;
  border-radius: 20px;
  max-width: 800px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}
#container-bar h3 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}
#container-bar .achievement {
  margin-top: 20px;
  width: 100%;
}
#container-bar .achievement .bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(30, 30, 30, 0.05);
  border-radius: 40px;
  overflow: hidden;
}
#container-bar .achievement .bar .img-box {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: #1e1e1e;
  border-radius: 50%;
}
#container-bar .achievement .bar .img-box span {
  color: #fff;
}
#container-bar .achievement .bar p {
  position: relative;
  z-index: 1;
  color: #1e1e1e;
  font-size: 18px;
  font-family: "Open Sans", arial, sans-serif;
}
#container-bar .achievement .bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(30deg, #64a9ff, #93ffa0);
  border-radius: 20px;
  transition: 1s ease;
}
#container-bar .achievement .bar .progress.running {
  animation-name: fill;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: "infinite";
  animation-fill-mode: forwards;
}
#button-bar {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
#button-bar button {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}
#button-bar button:hover,
#button-bar button:active,
#button-bar button:focus {
  cursor: pointer;
  transition: 0.2s ease;
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  -webkit-filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}
#button-bar button span {
  font-size: 1rem;
}
@media screen and (min-width: 600px) {
  #container-bar .content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  #button-bar {
    grid-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
  }
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 23
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.container-card {
  display: flex;
  justify-content: center;
  align-items: conter;
  perspective: 500px;
  margin-top: 40px;
}
.card-3d {
  position: relative;
  width: 400px;
  height: 450px;
  margin: 5px;
  background-size: cover;
  border: 2px solid var(--amarillo);
  border-radius: 10px;
  transform-style: preserve-3d;
  will-change: transform;
  transition: all 0.5s ease-out;
  color: black;
  text-align: center;
}
.card-3d.amanecer {
  background: linear-gradient(
    to bottom,
    rgb(0, 102, 133) 70%,
    rgb(255, 140, 63)
  );
}
.card-3d.soleado {
  background: rgb(253, 235, 74);
}
.card-3d.atardecer {
  background: linear-gradient(to bottom, rgb(253, 235, 74), rgb(255, 111, 16));
}
.card-3d.nublado {
  background: rgb(134, 134, 132);
}
.card-3d.noche {
  background: rgb(30, 43, 46);
}
.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}
@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}
.card-3d h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}
.temp {
  font-size: 70px;
  margin-left: 25px;
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}
.celcius {
  font-size: 20px;
  vertical-align: super;
  padding-left: 10px;
}
.temp-m {
  font-size: 12px;
  display: inline-block;
  margin: 10px;
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}
.temp-m span {
  font-size: 12px;
}
.day {
  margin-top: 10px;
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}
.weather {
  display: block;
  margin: auto;
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}
.weather-week {
  border-right: 1px solid black;
  display: inline-block;
  width: 12.5%;
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}
.weather-week:last-child {
  border-right: none;
}
.weather-week img {
  max-width: 100%;
  height: auto;
}
.weather-week p {
  font-size: 12px;
}
.weather-week p span {
  font-size: 12px;
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 24
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.container-range h4 {
  margin: 0;
  color: #999;
  font-weight: 500;
}
.container-range h4:after {
  content: "%";
  padding-left: 1px;
}
.container-range input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 400px;
  max-width: 100%;
  margin: 24px 0 16px;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .container-range input[type="range"] {
    overflow: hidden;
    height: 40px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  .container-range input[type="range"]::-webkit-slider-runnable-track {
    height: 40px;
    -webkit-appearance: none;
    color: #444;
    transition: box-shadow 0.2s ease-in-out;
  }
  .container-range input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    -webkit-appearance: none;
    height: 40px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  .container-range input[type="range"]:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
  }
}
.container-range input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
.container-range input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
.container-range input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
.container-range input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
#h4-container {
  width: 400px;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
#h4-container #h4-subcontainer {
  width: 100%;
  position: relative;
}
#h4-container #h4-subcontainer h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  color: #fff !important;
  font-size: 12px;
  transform-origin: center -10px;
  transform: translateX(-50%);
  transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
#h4-container #h4-subcontainer h4 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1597ff;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  z-index: -1;
}
input:not(:active) + #h4-container h4 {
  opacity: 0;
  margin-top: -50px;
  pointer-events: none;
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 25
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
#counter {
  font-size: 6rem;
  margin: 10px 0;
}
#container-btn-counter {
  margin-top: 10px;
}
#container-btn-counter button {
  margin: 0 10px;
  padding: 7px;
  border: 3px solid var(--amarillo);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
MEDIA QUERRY
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "header header"
      "main   navbar";
  }

  main {
    grid-area: main;
  }

  header {
    grid-area: header;
  }

  .navbar {
    grid-area: navbar;
    position: sticky;
    z-index: 0;
    top: 4rem;
    background-color: var(--gris);
    overflow-y: auto;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .menu-btn {
    display: none;
  }

  .focus {
    background-color: var(--amarillo);
    color: black;
  }

  .inicio {
    left: 100px;
  }

  h2 {
    text-align: center;
    margin: 0;
  }
}
