:root {
  --amarillo : rgb(255, 194, 28);
  --gris : rgb(56, 56, 56);
}

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;  /*Scroll suave*/
}

body {
  color: black;
  background-color: white;
  overflow-x: hidden;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
NAV BURGER
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.menu-btn {
  position: fixed;
  z-index: 3;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: var(--amarillo);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  animation: entrada-right .3s ease forwards;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-animation: entrada-right .3s ease forwards;
}
.menu-btn-burger {
  width: 50px;
  height: 5px;
  background: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(-14px);
}
.menu-btn-burger::after {
  transform: translateY(14px);
}
/*Animacion*/
.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  width: 50px;
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  width: 50px;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
NavBar
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.header-container {
  background-color: var(--amarillo);
  color: black;
  text-align: center;
  width: 100%;
  padding: 15px;
  position: fixed;
  z-index: 1;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  transform: translateX(-2000px);
  -webkit-transform: translateX(-2000px);
  -moz-transform: translateX(-2000px);
  -ms-transform: translateX(-2000px);
  -o-transform: translateX(-2000px);
}

.show {
  visibility: visible;
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.navbar ul{
  text-align: center;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.navbar ul li {
  display: block;
  width: 100%;
  height: 12%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

a:hover {
  background-color: var(--amarillo);
  color: black;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: var(--amarillo);
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

h2:nth-child(1) {
  padding-top: 80px;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 1
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#btn-container button {
  padding: 0 7px;
  cursor: pointer;
  margin: 20px auto;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 2
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.container-keyup {
  position: relative;
  background-color: var(--gris);
  width: 90%;
  height: 50vh;
}

.circulo {
  position: absolute;
  background-color: var(--amarillo) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
INICIO
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.inicio {
  z-index: 1;
  position: fixed;
  width: 80px;
  height: 80px;
  border: none;
  background-color: var(--amarillo);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 10px;
  right: 100px;
  cursor: pointer;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.inicio.mostrar {
  transition: all .5s;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.inicio::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 10px;
  border-top: solid 7px black;
  border-right: solid 7px black;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
THEME
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#theme {
  z-index: 1;
  border: none;
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: var(--amarillo);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

#theme span {
  color: var(--gris);
  font-size: 50px;
}

#theme:hover {
  background-color: var(--gris);
}

#theme:hover span {
  color: var(--amarillo);
}

.dark-mode {
  background-color: var(--gris);
  color: var(--amarillo);
}

/*
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 4
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#video, #mapa {margin: 10px 0;}

/*
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 5
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.container-btn input[type=submit] {
  cursor: pointer;
  display: inline-block;
  width: 48.7%;
  background-color: var(--amarillo);
  padding: 15px 7px;
  margin: 15px auto;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-control {
  position: relative;
  margin: 20px 0;
  width: 300px;
}
.form-control input {
  caret-color: var(--amarillo);
  background-color: inherit;
  border: 0 !important;
  border-bottom: 2px var(--amarillo) solid !important;
  display: block;
  width: 100%;
  padding: 15px 7px;
  font-size: 18px;
  margin: auto;
  color: inherit;
}
.form-control input:focus,  
.form-control input:valid {  
  outline: 0;
}  
.form-control label {  
  position: absolute;  
  top: calc(50% - (18px / 2));
  left: 10px;  
  pointer-events: none;
}  
.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}  
.form-control input:focus + label span,
.form-control input:not(:placeholder-shown) + label span {
  transform: translateY(-28px);
  -webkit-transform: translateY(-28px);
  -moz-transform: translateY(-28px);
  -ms-transform: translateY(-28px);
  -o-transform: translateY(-28px);
}
/*
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 6
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#lista-dispositivos {
  display: inline-flex;
  flex-direction: column;
}

.aviso {
  background-color: var(--amarillo);
  color: var(--gris);
  margin: 20px auto 0;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 10
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/
.card-filter {
  border:  none;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  padding-left: 36px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  background: url(./assets/lupa.png) no-repeat 10px/16px, white;
  cursor: pointer;
  transition-property: width, border-radius, box-shadow;
  transition-duration: 300ms;
  box-shadow: 0 0 0 2px var(--amarillo);
}

.card-filter:focus,
.card-filter:not(:placeholder-shown) {
  width: 200px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  cursor: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 10px 0;
}

.card {
  background-color: var(--amarillo);
  color: var(--gris);
  margin: 20px 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
  text-align: center;
  font-weight: bolder;
}

.filter {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 11
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#btn-lottery {
  padding: 0 7px;
  cursor: pointer;
  margin: 20px auto;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 12
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: calc(50% - 2rem);
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
  font-weight: normal;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 13
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

video {
  width: 90%;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 14
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
}

form [required]:valid {
  border: 2px solid var(--form-ok-color);
}

form [required]:invalid {
  border: 2px solid var(--form-error-color);
}

.label {
  position: relative;
  display: block;
  margin: 20px 0 0;
}

.label input,
.label textarea {
  resize: none;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem 1.15rem;
  width: 25rem;
  border-radius: 3px;
  border: 2px solid rgba(5, 42, 78, 0.2);
  transition: border-color 0.4s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: border-color 0.4s ease;
  -moz-transition: border-color 0.4s ease;
  -ms-transition: border-color 0.4s ease;
  -o-transition: border-color 0.4s ease;
}

.label input:focus,
.label textarea:focus {
  border-color: #0f81f0;
}

.label p {
  color: rgba(5, 42, 78, 0.5);
  font-size: 1.2rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  margin-left: 0.8rem;
  padding: 0 0.5rem;
  background: #F1F7FE;
  transition-property: top, font-size, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.label input:focus ~ p,
.label textarea:focus ~ p,
.label input:not(:placeholder-shown) ~ p ,
.label textarea:not(:placeholder-shown) ~ p {
  top: 0;
  font-size: 0.95rem;
  color: #0F81F0;
}

.label input:not(:focus) ~ p ,
.label textarea:not(:focus) ~ p {
  color: rgba(5, 42, 78, 0.5);
}

.btn-form {
  display: flex;
}

.btn-form input[type=submit] {
  padding: 20px 150px;
  cursor: pointer;
  margin: 20px auto;
}

.contact-form-loader {
  display: flex;
  justify-content: center;
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s normal 0s ease-out both;
  -webkit-animation: show-message 1s normal 0s ease-out both;
}

.none {
  display:none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;  
  }
}
/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
SECCIÓN 15
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

#speech-btn {
  font-weight: bolder;
  width: 150px;
  height: 50px;
  border: 2px solid #000;
  background: #fff;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
#speech-btn::before, #speech-btn::after {
  content: "";
  position: absolute;
  background: #fff;
  z-index: -1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
#speech-btn::before {
  height: 50px;width: 130px;
}
#speech-btn::after {
  width: 150px;height: 30px;
}
#speech-btn:hover::before {
  width: 0px;
}
#speech-btn:hover::after {
  height: 0px;
}

/* 
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
MEDIA QUERRY
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
*/

@media screen and (min-width: 1024px) {
  body{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas: 
      "header header"
      "main   navbar";
  }

  main {
    grid-area: main;
  }

  header {
    grid-area: header;
  }

  .navbar {
    grid-area: navbar;
    position: sticky;
    z-index: 0;
    top: 4rem;
    background-color: var(--gris);
    overflow-y: auto;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

  .menu-btn {
    display: none;
  }

  .focus {
    background-color: var(--amarillo);
    color: black;
  }

  .inicio {
    left: 100px;
  }

  h2 {
    text-align: center;
    margin: 0;
  }
}